.nav {
    background-color: none;
    position: absolute;
    top: 0;
    left: 37%;
}

.nav ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
}
.nav ul a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav ul a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    cursor: pointer;
}
.toChat{
    transform: translate(10rem,40rem);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 15rem;
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    font-size: 1.2rem;  
    cursor: pointer;
}

.toChat span{
    background-color: royalblue;
    color: white;
    border-radius: .5rem;
    font-size: 2rem;
}

.toSurvey{
    transform: translate(40rem, -15rem);
        border: none;
        outline: none;
        padding: 1rem;
        border-radius: 15rem;
        display: flex;
        justify-content: space-around;
        width: 300px;
        height: 50px;
        font-size: 1.2rem;
        cursor: pointer;
}

.toSurvey span {
    background-color: royalblue;
    color: white;
    border-radius: .5rem;
    font-size: 2rem;
}
.footer {
    background-color: var(--text-dark);
}

.footer__container {
    display: grid;
    gap: 4rem 2rem;
}

.footer__col .section__description {
    margin-block: 2rem;
}

.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer__links a {
    color: var(--text-light);
    transition: 0.3s;
}

.footer__links a:hover {
    color: var(--white);
}

.footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials img {
    max-width: 25px;
    opacity: 0.8;
    transition: 0.3s;
}

.footer__socials img:hover {
    opacity: 1;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}