.nav {
    background-color: #2f7eb7;
    /* position: absolute; */
    /* top: 0;
    left: 37%; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 1px solid white;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    color: white;
    font-size: 1rem;
    align-items: center;
    transform: translateY(-.5rem);
    padding-top: 1rem;
}

.nav img {
    width: 5rem;
    height: 5rem;
}

.nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav ul a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.toChat {
    border: none;
    outline: none;
    padding: 1rem;
    /* border-radius: 15rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 1.5rem;
    cursor: pointer;
}

.toChat b {
    font-size: 2rem;
    margin-left: 2%;
}

.toSurvey {
    border: none;
    outline: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 1.5rem;
    cursor: pointer;
}

.toSurvey b {
    font-size: 2rem;
    margin-left: 2%;
}

.footer {
    background-color: var(--text-dark);
}

.footer__container {
    display: grid;
    gap: 4rem 2rem;
}

.footer__col .section__description {
    margin-block: 2rem;
}

.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer__links a {
    color: var(--text-light);
    transition: 0.3s;
}

.footer__links a:hover {
    color: var(--white);
}

.footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials img {
    max-width: 25px;
    opacity: 0.8;
    transition: 0.3s;
}

.footer__socials img:hover {
    opacity: 1;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}

.res_nav {
    background-color: #2f7eb7;
    /* position: absolute; */
    /* top: 0;
    left: 37%; */
    display: none;
    width: 100%;
    justify-content: center;
    padding: 0 10%;
    border-bottom: 1px solid white;
    align-items: center;
}

.res_nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    color: white;
    font-size: 1rem;
    align-items: center;
    transform: translateY(-.5rem);
    padding-top: 1rem;
}

.res_nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.res_nav ul a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .res_nav {
        display: flex;
    }

    .nav {
        display: none;
    }

    .toSurvey {
        font-size: 1.2rem;
        height: 75px;
    }

    .toChat {
        height: 75px;
        font-size: 1.2rem;
    }

}